* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Share Tech Mono', inherit;
}

body {
    background-color: #111;
    color: white;
    text-align: center;
}

body > div {
    display: inline-block;
    margin: 0 auto;
}

button,
input,
select {
    background: none;
    color: white;
    border: 1px solid #ededed;
    padding: 5px;
    border-radius: 3px;
}

button:hover {
    background-color: #FF4136;
    border-color: black;
    color: black;
}

select:focus {
    box-shadow: none;
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select option {
    background-color: black;
    border: none;
}
